/* text align property */

h1{
    text-align: center;
    color: rgb(223,122, 250);
    text-decoration: blue underline wavy;
    font-family: Arial, Helvetica, sans-serif; 
}
p{
    text-align: justify;
    font-weight: 300;
    line-height: 1.0;
    font-size: 13px;
    font-family: book antiqua,Big Caslon,tahoma;
}
h2{
    text-align: start;
    text-decoration: green double overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    text-decoration: line-through;
    letter-spacing: 5px;
    font-family: Tahoma;

}
