* {
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
}
.main_box{
    background-image: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}
.btn_one i {
    color: white;
    font-size: 25PX;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 300px;
    left: -300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px  rgba(255,255,255,0.5);
    transition: all 0.3s linear;

}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 50px;
    box-shadow: 0 1.5px 4px  rgba(255,255,255,0.5);
    height: 50px;

}
.sidebar_menu .logo a{
    position: absolute;
    color: white;
    left :50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    top: 4px;
}
.sidebar_menu .btn_two i{
    color: gray;
    font-size: 20px;
    position: absolute;
    left: 275px;
    /* opacity: 0; */
    top: 19px;
    transition: all 0.3s linear;

}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 70px;
}
.sidebar_menu .menu li{
    margin-top: 5px;
    padding: 8px 18px;
}
.sidebar_menu .menu i,a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media {
 color: white;
 position: absolute;
 bottom: 25px;
 left: 22%;
}
.sidebar_menu .social_media i{
    padding: 0px 6px;
    opacity: 0.5;
}
#check{
display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px  rgba(255,255,255,0.5);
    
}
.btn_one i:hover{
    font-size: 30px;
    cursor: pointer;
}
.btn_two i:hover{
    font-size: 25px;
    cursor: pointer;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}
#check:checked~.sidebar_menu{
    left: 0;
}
#check:checked~.btn_one{
    opacity: 0;
}
#check:checked~ .sidebar_menu.btn_two{
    opacity: 1;
}

