#container{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(4, 178, 209);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
    border-radius: 10px;

}
#container div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: grey;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}


#Navbar{
    height: 50px;
    width: 900px;
    border: 2px solid rgb(4, 178, 209);
    border-radius: 10px;
    margin: 10px auto;
    background-color: lightpink;
    display: flex;
}

#Navbar div{
   height:50px;
   width:80px;
   border-radius:10px;
   margin-left:5px;
   font-size:24px;
   line-height:50px;
}

