h1{
    text-align: center;
}
#container{
    height: 100vw       ;
    width: 80%;
    border: 2px solid black;
    margin: 10px auto;
    display: flex;
    background-color: azure;
    flex-direction: row;
    justify-content: flex-start; /* main axix me work karta h */
 
    flex-wrap: wrap;
    /* align-items: baseline;   */
    align-content:flex-start; /* cross axix me work karta h */
}
#red{
    align-self: self-start ;
    flex-basis:50px ;
    flex-grow: 4;

}
#yellow{
    /* flex-basis:600px ; */
    flex-grow: 2;
    /* flex-shrink: 3; */
}
#container div{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
}