.card{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    box-shadow: 2px 2px 10px black;



}
img{
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}
#info{
    padding: 10px;
}
.card:hover{
    box-shadow: 2px 2px 20px black;
   transition: 1s;
}