                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    /* selectors  */

/* universal selector  */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* element selector  */
h1,h3{
    color: #b92b27;
    background-color: aqua !important;
}

 
/* id selector  */
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}

/* class selector  */
.upvote{
    background-color: green;
    color: aliceblue;
}

/* descendant selector  */

.post a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: rgb(100, 19, 64);
}
/* sibling combinator  */
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;
}

/* child combinator  */
div > input{
    background-color: darksalmon;
}

/* attribute selector  */

input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

/* psedo class  */
button:hover{
    background-color: black;
    color: white;
}
 button:active{
    background-color: hotpink;
    color: white;
 }
 p:active{
    font-weight: bold;
    color: darkgreen;
 }

 input[type="radio"]:checked+label{
    font-weight: bold;
    color: red;
 }

 div:nth-of-type(2n){
    background-color:aqua;
 }
 h1::first-letter{
    color: green;

 }
 p::first-line{
    color: blueviolet;
 }
 p::selection{
    background-color: skyblue;
 }
