#main{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px; 
    border-radius: 50%;
}
/* 
#one{
    background-color: red;
   
    border: 2px solid black;

    border-radius: 50px;
    padding:15px
}
#two{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px;
}
#three{
    background-color:green;
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px;
} */