div{
    height: 200px;
    width: 500px;
    background-color:aqua;
    border: 5px solid black;
    border-radius: 10px;
    padding-top:10px ;
    margin: 25px;
}

h1{
    border: 2px dashed blue;
}

button{
    border: 2px solid black;
    padding: 50px;
    background: green;
}